<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSLVnBdF9JkEn8QCHAZ0X-21lDBMc61us</string>
	<key>GCM_SENDER_ID</key>
	<string>841235444956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diva</string>
	<key>PROJECT_ID</key>
	<string>divaguard-d973f</string>
	<key>STORAGE_BUCKET</key>
	<string>divaguard-d973f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841235444956:ios:82474f4ef75fdbc7427019</string>
</dict>
</plist>